/* FONTS */

@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url('GoudyStM.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url('GoudyStM-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}


/* FONTS  */

body{
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    color: black;
    padding: 2%;

}
a{
    color: #e55050;
}

h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
.navbar{
    padding: 0;
}
.navbar-toggler:focus{
    outline: none;
}
.navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.nav-link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.titleContent{
}
.mainTitle{
    font-family: 'Sorts Mill Goudy', serif;
    font-weight:500;
    font-size: calc(84px + (130 - 84) * ((100vw - 300px) / (1200 - 300)));
    line-height:0.9;
}
.by{
    font-style: italic;
    font-size: 30px;
    color: silver;
    display: inline;
}
.author{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #e55050;
    font-weight: 700;
    display: inline;
}

.toc{
    padding: 0;
}
.toc>a:hover{
text-decoration: none;
}

li.tocItem{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: auto;
}
.tocItem:hover{
    color: silver;
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
}