{{ define "main" }}
<div class="titleContent">
<h1 class="mainTitle">Style<br>Manual</h1>
<br>
<p>This is some important piece of advice that I've rendered from various sources</p>
<ol class="toc">
  <a href="">
    <li class="tocItem">Introduction</li>
  </a>
  <a href="">
    <li class="tocItem">Chapter 1</li>
  </a>
  <a href="">
    <li class="tocItem">Chapter 2</li>
  </a>
  <a href="">
    <li class="tocItem">Chapter 3</li>
  </a>
  <a href="">
    <li class="tocItem">Chapter 4</li>
  </a>
</ol>
</div>
{{ end }}