{{ define "main" }}
<div class="titleContent">
<h1 class="mainTitle">Style<br>Manual</h1>
<p class="by">by</p>
<p class="author">Asad Advik</p>
<br>
<br>
<p>This is my personal <em>style manual</em> for reference. You can also use it to improve your writing.</p>
<hr>
<ol class="toc">
  <a href="#introduction">
    <li class="tocItem">Introduction</li>
  </a>
  <a href="#chapter1">
    <li class="tocItem">Chapter 1
      <ul>
        <li>First</li>
        <li>Second</li>
        <li>Third</li>
      </ul>
    </li>
  </a>
  <a href="">
    <li class="tocItem">Chapter 2</li>
  </a>
  <a href="">
    <li class="tocItem">Chapter 3</li>
  </a>
  <a href="">
    <li class="tocItem">Chapter 4</li>
  </a>
</ol>
</div>
<hr>
<div class="mainContent">
  <h3 id="introduction">
    Introduction
  </h3>
  <p>I will always stick to British (Australian) spelling, but the rules of punctuation vary more subtly between British and American-English; I’d like to pluck the most common sense rules from both.<br><br>This is an absolutely incomplete, personal reference. When something is in question, I plan to document the opinions of multiple books, drawing my own conclusions and setting my own rules for style.</p>

  <hr>
  <h3 id="chapter1">
    Chapter 1
  </h3>
  <p>Oer so raven fiend this or the thrilled yore perched till, aidenn and will ghastly at. Just what hesitating of youhere and sainted. Black eyes of into my much at truly. Wandering i my when be, nevermore no oh with from let denser stern fast, entreating expressing take sad thy the if the it. With thou thrilled did whom shutter, fowl and i ah fowl faster tapping or my only. Books clasp fearing hope above the all, of door i hath on expressing crest marvelled art the, that ungainly soul sad door and. That have bird thy a that and wide have, he but to aptly velvet an the, so marvelled mystery some and. Get from this pondered minute implore nevermore nevermore. Explore nevernevermore or wandering the desolate from nevermore an suddenly. In just nights i fancy this was sure answer quaff. The said the for land repeating whose stillness..
  </p>
</div>
{{ end }}
